// Specific CSS for your home-page
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), asset-url('storage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  margin-bottom: 40px;
}

.container-top h1 {
  color: #ffe600;
  font-weight: bolder;
  border-radius: 10px;
  padding: 10px 15px;
  margin-top: 150px;
  margin-right: 50px;
  font-size: 50px;
}

.search-by {
  text-align: center;
  margin-top: 60px;
}

.search-by-location {
  margin-bottom: 10px;
  padding: 10px 65px;
  margin-top: 35px;
  margin-left: 30px;
  border-radius: 10px;
}

.search-now {
  background-color: #FFE600;
  color: black;
  padding: 10px 50px;
  border-style: 1px solid black;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 30px;
}

.select-sqm {
  background-color: white;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.card {
  height: 100%;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 5px lightgrey;
  padding: 20px;
}

.card h3 {
  background-color: #FFE600;
  margin-bottom: 20px;
  margin-top: 10px;
  opacity: 0.8;
}
