<div class="form border border-dark p-5" style="width: 600px; margin: 16px auto;">
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <h3>Forgot your password?</h3>
    <p><%= f.input :email,
                    placeholder: "florin@gmail.com",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %></p>
    <p><%= f.button :submit, "Send me reset password instructions", class: "btn-book w-100 mt-3 mb-0" %></p>
  <% end %>
</div>
<br><br>
<div class="d-flex">
  <%= render "devise/shared/links" %>
</div>
