<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>My landing page</title>
  <!-- We need this line below for responsiveness! -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="banner">
    <div class="container-top d-flex justify-content-around">
      <h1>Rent Bigger</h1>
      <h1>Store More</h1>
      <h1>Pay Less</h1>
    </div>
    <div class="search-by">
      <form>
        <input type="text" class="search-by-location" id="location" placeholder="Enter your location...">
        <br>
        <select class="select-sqm">
          <option selected>Dimensions</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
          <option value="4">Four</option>
        </select>
        <br>
        <br>
        <input type="submit" class="search-now" value="Search Now">
      </form>
    </div>
  </div>
  <div class="container">
      <h2 class="text-center mb-5">How it works</h2>
      <div class="cards">
      <div class="card">
        <i class="fas fa-location-arrow fa-4x mb-3"></i>
        <h3>Enter your Location</h3>
        <p>Browse through all of our available locations in your city</p>
      </div>
      <div class="card">
        <i class="fas fa-warehouse fa-4x mb-3"></i>
        <h3>Pick a Space</h3>
        <p>Choose the space that fits all of your criteria</p>
      </div>
      <div class="card">
        <i class="fas fa-boxes fa-4x mb-3"></i>
        <h3>Store your things</h3>
        <p>Get there and store all of your items for the time you want</p>
      </div>
      </div>
    </div>
</body>

