<% @storages.each do |storage| %>
<h2>title: <%= storage.title %></h2>
<!-- implement the link to title that redirects to the show page -->
<p>Price: <%= storage.price %></p>
<p>Sqm: <%= storage.sqm %></p>
<p>Description: <%= storage.description %></p>
<br>
<% end %>
