.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-style: 1px solid black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.list-space {
  background-color: #FFE600;
  border-radius: 10px;
  margin-right: 20px;
  opacity: 0.9;
}

.far {
  padding: 10px;
}
