#user_photo {
  border-radius: 80px;
  height: 100px;
  width: auto;
  object-fit: cover;
  object-position: 50% 50%
}

#photo_upload {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 5px;
  height: 320px;
  width: auto;
  object-fit: cover;
  object-position: 50% 50%
}
